* {
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins";
}
/* common */
.content {
    width: 1110px;
    margin-left: auto;
    margin-right: auto;
}
/* header */
.header {
    width: 1440px;
    height: 100vh;
    background-color: #f5fafe;
}
.navbar {
    display: inline-block;
}
